<header class="header">
  pagination
</header>
<main class="container form">
  <section class="">
      <app-entities-select></app-entities-select>
      <div class="alert alert-primary" *ngFor="let number of numbers | slice:paginationLimits.lower : paginationLimits.upper;">
        {{ number }}
      </div>
      <app-pagination [numOfEntities]="numbers.length"></app-pagination>
      <div class="clearfix"></div>
  </section>
  <!-- <hr> -->
</main>
    