<ul class="pagination">
  <li class="page-item previous" [class.disabled]="activePaginationTab === 1" (click)="onPaginationFirstClick()">
    <a class="page-link" tabindex="-1">First</a>
  </li>
  <li class="page-item previous" [class.disabled]="activePaginationTab === 1" (click)="onPaginationPreviousClick()">
    <a class="page-link" tabindex="-1">Previous</a>
  </li>
  <li class="page-item disabled">
    <a class="page-link" *ngIf="(activePaginationTab - 2) > numOfvisibleAdjacentTabs">
      ...
    </a>
  </li>
  <ng-container *ngFor="let number of createTableOfPaginationTabs(); let i = index">
    <li class="page-item" [class.active]="activePaginationTab === i + 1" *ngIf="isVisibleAdjacentTab(i)">
      <a class="page-link" (click)="onPaginationTabClick(i + 1)">{{ i + 1 }}</a>
    </li>
  </ng-container>
  <li class="page-item disabled">
    <a class="page-link" *ngIf="(activePaginationTab + numOfvisibleAdjacentTabs + 1) < getNumberOfPaginationTabs()">
      ...
    </a>
  </li>
  <li class="page-item next" [class.disabled]="activePaginationTab === getNumberOfPaginationTabs() || getNumberOfPaginationTabs() === 0" (click)="onPaginationNextClick()">
    <a class="page-link" >Next</a>
  </li>
  <li class="page-item next" [class.disabled]="activePaginationTab === getNumberOfPaginationTabs() || getNumberOfPaginationTabs() === 0" (click)="onPaginationLastClick()">
    <a class="page-link" >Last</a>
  </li>
</ul>