
.entries-container {
  margin-bottom:  15px;
  margin-left:  auto;
  text-align: right;
  .entries-select {
    width: 80px;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
  }
}
