<div class="entries-container">
  <span>Show</span>
  <select class="form-control entries-select" #selectedNumOfShownEntities (change)="onNumOfShownEntitiesChange(selectedNumOfShownEntities.value)">
    <option *ngFor="let entitesOption of entitiesDisplayOptions" [value]="entitesOption.value">
      {{ entitesOption.text }}
    </option>
  </select>
  <span>entries</span>
</div>